extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(4,2,2)
	h1 Question 4.2
	h2 A More Realistic Cash Budget

block content
	p The following table shows average monthly occupancy in your 120 bedroom hotel.  Use it to calculate the number of rooms sold and then the revenue each month.
	table
		thead
			tr
				td
					strong Month 
				td
					strong Occupancy %
		tbody
			tr
				td Jan
				td 26%
			tr
				td Feb
				td 40%
			tr
				td Mar
				td 65%
			tr
				td Apr
				td 70%
			tr
				td May
				td 70%
			tr
				td Jun
				td 75%
			tr
				td Jul
				td 85%
			tr
				td Aug
				td 80%
			tr
				td Sep
				td 75%
			tr
				td Oct
				td 60%
			tr
				td Nov
				td 50%
			tr
				td Dec
				td 50%
	p The following additional information may be of help :
	ol
		li Your ADR (Average Daily Rate) is $56.
		li Labour costs vary depending on the season.  In high season (April to September inclusive), your labour cost is $70,000 per month.  At other times, they are $30,000 per month.  Note that this may change at a later date, and thus you should incorporate some way of changing it  afterwards into your spreadsheet model.
		li Energy costs are estimated at 5% of revenue.
		li Administration expenses are fixed at $25,000 per month.
		li Each month, you must pay TVA of 20% on the previous months sales.
	p Develop a spreadsheet template that will generate a projected cash budget from any date that you enter (by default, make this today’s date).
	p You should assume that the user enters the date (by default this should be the current date) and the current bank balance, and that the spreadsheet then projects each of the revenues and expenses forward for one year a month at a time.