extends ../../../templates/layouts/class-main.jade

block intro
	h1 Class 6
	p The sixth session concentrates on automating your spreadsheet using macros, as well as continuing to build your understanding of the principles of good spreadsheet design.

	p Macro are powerful tools that can be used to automate tasks within your spreadsheet.  In this class we will focus on simply recording macros and assigning them to buttons.  This will be developed further in class eight where we start exploring the capabilities of 
		em Visual Basic for Applications.

	p The first few questions will help you to understand how to create and modify a macro.  This is followed by an exercise that will help you figure out the difference between absolute and relative macros.  Lastly, you will start consolidating this knowledge with what we have learned before in the final question.


block exercises-links
	+exercises-buttons(6,3)

block keypoints-links
	ul.unstyled
		li: a(href="keypoints/keypoints_q_6-1a.xls", target="_blank", class="reading-label") keypoints 6.1a
		li: a(href="keypoints/keypoints_q_6-1b.xls", target="_blank", class="reading-label") keypoints 6.1b
		li: a(href="keypoints/keypoints_q_6-1c.xls", target="_blank", class="reading-label") keypoints 6.1c
		li: a(href="keypoints/keypoints_q_6-1d.xls", target="_blank", class="reading-label") keypoints 6.1d
		li: a(href="keypoints/keypoints_q_6-2.xls", target="_blank", class="reading-label") keypoints 6.2
