extends ../../../templates/layouts/exam

block intro
	+exam-intro('B')

block content
	p Create a database to record reservations for your restaurant.  For each reservation, this should record the date on which the reservation is being made, the date for which the table is being requested, the time requested, the nationality of the party (one only), the number of people and whether the customer wants Smoking / Non-Smoking or doesn’t care. Your database should have appropriate field names and you should enter two or three reservations to make sure that it works propely.

	p Based on a fixed menu price of Euro 30, your database should have an additional calculated field to store the estimated value of each reservation (i.e. the menu price multiplied by the number of people). Your database should also have a calculated field to store the time that you estimate that the table will finish their meal. From experience, you have calculated the average amount of time it takes different nationalities to eat in your restaurant, and this is shown in the table below :

	table
		thead
			tr
				td Nationality
				td Smokers
				td Non-Smokers
				td Don't Cares
		tbody
			tr
				td French
				td 75 minutes
				td 60 minutes
				td 75 minutes
			tr
				td German
				td 65 minutes
				td 50 minutes
				td 60 minutes
			tr
				td Irish
				td 90 minutes
				td 100 minutes
				td 95 minutes
			tr
				td Other
				td 60 minutes
				td 60 minutes
				td 60 minutes

	p In addition, your user wishes you to :

	ul
		li Design a button (including a macro / VBA) that will sort the database so that reservations are sorted by date of reservation, with the lowest dates are shown first. 

		li Design a button (including a macro / VBA) that will filter the list (in place) so that only reservations for dates in the future are shown. 

		li Design a button or buttons (including a macro / VBA) so that reservations for each day of the week (Monday, Tuesday, etc) can be seen separately.

		li Create a button that displays a custom Userform that allows reservations to be entered into the database.  This should have a Combobox for the Smoking field and should have OK and Cancel buttons that work appropriately. 

		li On Sheet3, prepare a pie chart that shows the number of reservations for Smoking / Non-Smoking and Don’t Care categories in the database. 

		li Create a custom function called =Leadtime( ).  This should allow the user to calculate the difference in days between the date on which the reservation is made and the reservation date itself.  Show an example of how to use this function in cell A3 of sheet3. 

		li When ever the workbook is opened, a message box should tell the user to save their work often.