extends ../../../templates/layouts/exam

block intro
	+exam-intro('D')

block content
	p Create a database to record financial information for your restaurant.  For each day, it should record the restaurant’s sales, food cost, labour cost, number of employees, rent and a category called other costs.

	p Your database should automatically calculate the net profit for each day (defined as the sales figure minus all of the costs).  If this figure is positive, then the database should display the word “Profit” in the cell immediately to the right of the monetary figure.  If the figure is negative, it should display “Loss” and if the figure is zero it should display “BreakEven”.

	p Your database should have appropriate field names and you should enter data from two or three dates to make sure that it works properly.	
	
	p In addition, your user wishes you to:

	ul
		li Design a button (including a macro / VBA) that will sort the database so that profitable dates are shown first, breakeven dates second and loss dates last.  Within each subgroup (i.e. within “Profitable”), records should be sorted in date order, with the most recent first. 

		li Design a button (including a macro / VBA) that allows the user to just display those records for dates in the past seven days. 

		li Design a button or buttons (including a macro / VBA) that will display only records where there were no sales figure entered.   

		li On Sheet3, prepare a column chart that shows sales broken down by month.  Thus your graph should have (potentially) twelve columns – one for each month. 

		li Create a custom function called = labourcostpercentage( ).  This should calculate the (surprise surprise) labour cost percentage (by dividing the labour cost by the sales figure).  Demonstrate how to use this function in cell A1 of sheet3.   

		li When ever the workbook is opened, a message box should be displayed welcoming the user to the application.  It should also turn off the row / column headings (ABC, 123) and the gridlines. 

		li Create a button that displays a custom Userform that allows data to be entered.  This should have OK and Cancel buttons that work appropriately.  Place a command button on sheet 1 to open this userform.