extends ../../../templates/layouts/exam

block intro
	+exam-intro('F')

block content

	p Create a flat file database to record certain details about reservations for your hotel.  For each reservation, it should record the arrival date, number of nights, room rate per night and guest name (in the format first name SPACE family name).   If a reservation is entered for a date which is past, it should automatically be coloured grey.

	p Please start your database at A10 so that you can put buttons, criteria and other calculations at the top of the database sheet. Your database should have appropriate field names and you should enter data for three or four reservations to make sure that it works properly.
	
	p In addition, your user wishes you to:

	ul
		li Design a button (including a macro / VBA) that will sort the database so that reservations departing first are shown at the top of the list. If the departure date for two or more reservations are the same, within this subgroup, records should be sorted by family name, and then by first name. 

		li Design a button (including a macro / VBA) that allows the user to just display reservations that will arrive in the next seven days. 

		li Design a button or buttons (including a macro / VBA) that will display only reservations whose total value is greater than whatever figure is typed into cell C3 .   

		li On Sheet3, prepare a column chart that showing the average room rate achieved for reservations that start on each day of the week.  Thus your graph should have seven columns – one for Monday, one for Tuesday, etc. each representing the average rate charged for reservations that START on that day in the database. 

		li Create a custom function called = extendedrate( ). This should multiply the rate charged by the number of nights to tell you the value of each reservation. Demonstrate how to use this new function in the range A1 to A5 of sheet3.   

		li Whenever the file is opened, a message box should be displayed telling people to use the Userform (below) to enter data into the database. 

		li Create a button that displays a custom Userform that allows data to be entered into the database.  This should have OK and Cancel buttons that work appropriately, as well as verify that a date is entered for the arrival date field and numbers are entered for the number of nights and room rate fields.  Place a command button on sheet 1 to open this userform.