extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('One', 'C', '1')

block content
	h4 Design a spreadsheet to calculate the cost of running a banquet. This should allow the user to enter the date of the event and the number of covers, and should calculate the requested information automatically. Appropriate checks should be included to prevent the entry of invalid data.

	ul
		li Calculate the lead time (the difference in days between today’s date and the event date).

		li The menu cost is based on the number of people attending the event.  Where there are less than 100, the menu cost is 50 Euros per person.  Between 100 and 200, the cost is 45 Euros, and above 200 people, the menu cost is 42 Euros.

		li Room hire depends on the day of the week.  From Monday to Friday, the price is 1000 Euros, while on Saturday and Sunday, the price is 1500 Euros.

		li Clients also need to rent tables and chairs.  Chairs cost 2 Euros each, while tables cost 10 Euros each and sit a maximum of 8 people.*

		li Calculate the overall cost, and the overall cost per person.  Where the cost per person exceeds 60 Euros, the spreadsheet should automatically colour this figure RED.