extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('One', 'C', '3')


block content

	h4 Design a spreadsheet that helps calculate the cost of a car rental.  This should allow the user to enter the date of the hire and the date of return, the type of car (see below) and the number of miles used, and should calculate the requested information automatically.

	h4 Appropriate checks should be included to prevent the entry of invalid data.

	ul
		li Calculate the length of the rental (in days).  Note that if the car is hired and returned on the same day, the rental length should be one day. 

		li Different types of cars cost different amounts per day.  Economy cars cost 30 
		Eur per day, Midsize cost 35 Euros, Family cost 40 Euros and Luxury cars cost 50 Euros.  Calculate the cost of hiring the car chosen. 

		li Mileage is charged in blocks of 10 miles, with an additional cost of 2 Euros per 10 mile block. 

		li A discount of 10% on the total cost (rental plus mileage) if the rental BEGINS in December, January, February or March. 

		li Calculate the total charge for the rental and the cost per mile considering all f the above issues.   

		li Where the cost per mile is less than 0.10 cents, that cell should be aut atically highlighted in Blue.