mixin class-exercises(classNumber, numberOfExercises, currentExerciseIndex)
	if classNumber && numberOfExercises && currentExerciseIndex
		dl.sub-nav
			dt Exercises
			- var index = 1
			while (index <=  numberOfExercises)
				if index == currentExerciseIndex
					dd.active
						a(href= index + ".html")= classNumber + '.' + index++
				else
					dd
						a(href= index + ".html")= classNumber + '.' + index++

	else
		p No menu backup to Exercises for this class
		