mixin quiz-intro(quizName, quizLetter, quizVersion)
	if quizName && quizLetter && quizVersion
		.text-center
			h1= 'Quiz ' + quizName + ' ' + quizLetter
			h2= 'Version ' + quizVersion
			h3 Excel Crash Course
			h4 Time : 25 minutes
			h4
				em Think of this as a learning experience
			hr
	if block
		block
	else
		p I recommend that you start by saving your spreadsheet on your Excel Work directory (and not on your desktop or Temporary folder). Then save regularly throughout the quiz. If you lose it – it’s your own fault for not saving – retakes are not possible.
		p Please use your student number (b00000 as the file name).
		p Please attempt to answer the following questions. If you cannot do any part, type in an answer (a number or a piece of text) and colour it RED. I will then regard this to be an assumption and will not penalise you for a mistake (you will, of course, lose marks for not knowing how to do it, but you will not be double penalised).
		p='When you are finished, send the file to your course instructor. Use your student id + "Quiz ' + quizName + ' ' + quizLetter + ' - version ' + quizVersion + '" as the file name.'
		hr


