extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(2,8,1)
	h1 Question 2.1			
	p
		|	You wish to draw up a comparison table to facilitate the conversion of Euros into other currencies.  Your table should list all of the Euro notes down the left hand side, and then show their corresponding value in US Dollars, Japanese Yen and Australian Dollars.

block content
	ol
		li Draw up the table discussed above, using appropriate functions where appropriate.
		li Format the data in the table so that the correct currency symbols are shown throughout
		li Adjust your formulae so that you only need to enter the formula to do the conversion once, and then copying it down and across without making any changes (Hint – you need to set up your absolute and relative cell references absolutely correctly!).