extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(2,8,2)
	h1 Question 2.2
	p
		|	Reconstruct questions 1.1 and 1.2 using the =Sum( ) and the =Average( ) formulae where appropriate. You can use the data provided below.

block content
	table
		thead
			tr
				td
				td Monday
				td Tuesday
				td Wednesday
				td Thursday
				td Friday
				td Saturday
				td Sunday
				td Total Sales 
					br
					| for each Dept
		tbody.center
			tr
				td
					strong Accomm.
				td 19560
				td 18340
				td 11345
				td 14980
				td 17120
				td 8340
				td 4510
			tr
				td 
					strong Food
				td 4856
				td 4585
				td 2836
				td 3745
				td 4280
				td 2085
				td 1128
			tr
				td 
					strong Beverage
				td 3950
				td 1559
				td 1290
				td 1273
				td 1455
				td 709
				td 383
			tr
				td 
					strong Sundries
				td 807
				td 624
				td 516
				td 509
				td 274
				td 284
				td 153
			tr
				td 
					strong Total
			tr
				td
					strong Average Daily Revenue
			tr
				td
				td
				td
				td
				td
				td 
					strong Total Gross Revenue
			tr
				td
				td
				td
				td
				td
				td 
					strong VAT
			tr
				td
				td
				td
				td
				td
				td 
					strong Net revenue
			tr
				td 
					strong Number Of Guests
				td 279
				td 262
				td 180
				td 214
				td 213
				td 99
				td 58
				td 1305
			tr
				td 
					strong Average Spend
			tr
				td 
					strong Note:
			tr
				td 
					strong VAT Rate
				td 8%
