extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(2,8,6)
	h1 Question 2.6	
	p Remove the formulae for each employee’s weekly wage, service and total wage.  Build an improved spreadsheet incorporating the assumptions shown below:

block content
	ol
		li Employees who work more than 39 hours a week must have the balance of their hours payed at the overtime rate of time and a half.  Calculate each employee’s overtime (where appropriate) and their correct wages
		li Calculate total overtime
		li Now redistribute the service.  However this time only employees who have worked more than 20 hours in the week are entitled to an equal share of service.  Use appropriate formulae to calculate the correct amount of service due.  Calculate each employee’s total wage packet.
		li Calculate the total service paid out.  Design a cross check to make sure that the total amount of service paid out is correct.

					


