extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(2,8,7)
	h1 Question 2.7 
	h2 Continued from Question 2.6			

block content
	ol
		li You wish to have the option of including a weekly bonus figure.  Insert a column to contain this figure for each employee.  Adjust the total wage formula to add in the new column where appropriate.
		li Tax is calculated on total earnings.  Each employee is allowed a tax free allowance of £45.00 per week.  Above this figure, earnings are taxed at the rate of 27%.  Calculate each employee’s tax liability for the week, and their net earnings.
		li Calculate total gross wages, total tax paid and total net wages.  Express total tax as a percentage of total gross wages.
		li Format each of the new monetary amounts to show currency symbols, and each of the percentage figures to show a percentage sign.
		li Print the worksheet in landscape mode.  Before printing, add the heading “Heather Hotel - Payroll Report” and the date.
		li Print the spreadsheet again, but this time display the formulae.  You may have to adjust some of the column widths to ensure that all of the formulae can be read.