extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(3,8,1)
	h1 Question 3.1
	h2 The Banqueting Question

block content
	p
		|	You have been asked to quote an overall price for a series of banquets with the following number of covers.
	table
		thead
			tr
				td Banquet 1
				td Banquet 2
				td Banquet 3
				td Banquet 4
				td Banquet 5
				td Banquet 6
		tbody
			tr
				td 1100
				td 900
				td 700
				td 4000
				td 3960
				td 115

	ol
		li In each case, the menu price is fixed at £12.00 per cover, and room hire is £200.  However, where the number of covers exceeds 1000, then additional public liability insurance must be purchased at a cost of £150.
		li The number of waiters is calculated based on a formula of one waiter for every 20 covers.  Each waiter is paid a fixed fee of £20 per banquet.
		li Calculate the cost of each proposed banquet to the client (including the menu cost, the room hire, insurance if applicable, and labour cost).
		li You have managed to renegotiate the insurance contract.  Now, if the number of people exceeds 1000, you must pay a fee of 50p per additional person.  Calculate the new costs.
		li You forgot to include wine in the above calculations!  Include a bottle at £13 for every four people attending the event.