extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(3,8,4)
	h1 Question 3.4
	h2 The Tax Question revisited!

block content
	p
		|	Based on your new found knowledge of =Lookup ( ) statements, revisit question 3.2 above and modify it so that it works more efficiently!
