extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(3,8,6)
	h1 Question 3.6
	h2 Even more Lookups!

block content
	p
		|	The number of allowed to work each shift is based on the number of customers expected.
	p
		|	Where less than 100 customers are expected, 5 staff must be on duty.  Between 100 and 150 customers, 7 staff are needed.  Between 150 and 200 customers, 9 staff are needed.  And when over 200 customers are expected, 10 need to be employed.
	p
		|	Each member of staff must be paid 15 pounds per shift. The employer must also pay 11% PRSI on the total wage bill.
	p
		|	Shown below is the expected number of customers for next week.Calculate the total labor cost.
	table
		thead
			tr
				td Monday
				td Tuesday
				td Wednesday
				td Thursday
				td Friday
		tbody
			tr
				td 102
				td 89
				td 151
				td 5
				td 155
