extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(3,8,7)
	h1 Question 3.7
	h2 The Birthday Question

block content
	p
		|	Enter your birthday and that of your workmate into two different cells on the spreadsheet.  Using the spreadsheet, calculate the number of full years, months, weeks and days between these two dates (Hint: Note the order of the question!).  Also note that if one person has a birthday in Oct 1970, and the other in Nov 1971, there are 13 full months (not 1 month) between their birthdays.
	p
		|	Think creatively – survive, adapt, overcome!
