extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(3,8,8)
	h1 Question 3.8
	h2 Car Hire and dates

block content
	p
		|	Design a spreadsheet that can be used in a car hire company to calculate the cost of the rental to the customer.  Set up the spreadsheet so that it :
	ol
		li Allows the date of hire / date of return of the rental, and the date of birth of the driver, to be entered.
		li The rental charge is dependent on the type of car.  Only two types are possible – economy is $25 per day and luxury is $40 per day.
		li The above does not include Collision Damage Waver (CDW), which is compulsory and costs 3% of the total rental cost.
		li Where the driver is 25 or under, and additional “risk” charge of $5 per day must be paid.
		li Calculates the total cost of ANY rental.