extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('One', 'F', '3')

block content
	h4 You are the manager of a small hotel who wishes to develop an Excel application to help with client billing.   Create a worksheet that provides the following functionality.

	ul
		li Allows the customer’s arrival date, departure date and the number of guests to be entered. Appropriate checks should be included to prevent the entry of invalid data.

		li Calculates the length of stay.

		li The rate charge is based on the day of the arrival date.  For stays that arrive Monday to Thursday (inclusive), the rate per night is €50.  Stays that arrive on arrive on a Friday, Saturday or Sunday have a rate of €80.

		li A discount of 5% on the room rate is given for stays that arrive during March, April, May and September.

		li If the length of stay is over 10 days, a further discount of 10% is given on the room rate.

		li There is a mandatory charge of €6 per person per day for breakfast.

		li Your spreadsheet should calculate the total charge for any potential set of guests.