//- FOOTER
.footer#footer: .row
	.columns.medium-8.medium-offset-2
		.text-center
			span.link--footer
				a(href='/') Home
			span.link--footer
				a(href='/about.html') About
			span.link--footer
				a(href='/contact.html') Contact

	.columns
		p.text-center 
			a(href='/legal.html') Legal
			.copyright.right
				small &copy; 2016 Bluecraft.io - All left reserved