//- FOOTER
.footer#footer: .row
	.columns.medium-8.medium-offset-2
	
		.text-center
			//- li
			//- 	a.twitter(href='#') Twitter
			//- li
			//- 	a.facebook(href='#') Facebooks
			span.link--footer
				a(href='/teacher.html') Teacher
			span.link--footer
				a(href='/faq.html') FAQ
			span.link--footer
				a.mail(href="mailto:charleslouis.allizard@essec.edu") Contact
			//- span.link--footer
			//- 	a.mail(href='http://dolf.trieschnigg.nl/excel/index.php', target="_blank") MS Excel Functions translations

	.columns
		p.text-center 
			a(href='/infos-legal.html') Infos & Legal
		//- .copyright &copy; 
		//- 2015 Bluecraft.io - All rights reserved - 