//- HEADER
//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
//- ... or completely change this header to suit your design.
.fixed
	nav.top-bar(data-topbar, role='navigation')
		ul#main-menu.menu
			li.name
				a(href='/') Home
		ul.menu.align-right.dropdown(data-dropdown-menu)
			li
				a(href="#") Projects

				- var projectNumber = 1
				ul.menu
					while projectNumber < 3
						li
							a(href='/projects/' + projectNumber + '/index.html')='Project ' + projectNumber++
		ul.menu.align-right
			li
				a(href="/about.html") About
			li
				a(href="/contact.html") Contact
					