//- HEADER
//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
//- ... or completely change this header to suit your design.
.fixed
	nav.top-bar(data-topbar, role='navigation')
		ul.title-area
			li.name
				h1
					a(href='/') Home		
			li.toggle-topbar.menu-icon
				a(href='#')
					span Menu
		section.top-bar-section
			ul.right
				li.has-dropdown.not-click
					a(href="#") Projects

					- var projectNumber = 1
					ul.dropdown
						while projectNumber < 3
							li
								a(href='/projects/' + projectNumber + '/index.html')='Project ' + projectNumber++
			ul.left
				li
					a(href="/about.html") About
				li
					a(href="/contact.html") Contact
					