doctype html
html

	//- HTML HEADER
	head
		include head


	//- HTML BODY
	body

		//- HEADER
		include header
		include breadcrumbs-quiz
		include  ../mixins/quiz-intro

		//- BODY
		.main

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			.container: .row: .columns.medium-8.medium-offset-2
				block intro

			//- The content block should contain the body of your template's content
			.container: .row: .columns.medium-8.medium-offset-2
				block content

		//- FOOTER
		include footer


		//- //- JAVASCRIPT
		include footer-scripts
