extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(7,5,2)
	h1 Question 7.2
	h2 Database Functions

block content
	p Using the “Nationality Data” file from the network and appropriate database functions, calculate each of the following :

	ol
		li The total amount spent on drink by people from Spain.
		li The total amount spent on food by people from France.
		li The average amount spent on Accommodation by people from Italy.
		li The average length of stay.
		li The average length of stay for people from USA.
		li Create a management report, detailing both the number of people from each country, and their average overall spending (i.e. the average amount spent on everything by French, Spanish, etc.)?