extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(7,5,3)
	h1 Question 7.3
	h2 More Database Functions

block content
	p Using the “EPOS” file from the network :

	ol
		li Layout your spreadsheet in such a way that you can calculate each server’s total sales by typing in a single formula and copying it across a column each time you add a server.
		li Calculate the total amount sold under each of the sales categories (e.g. Appetizers, main, etc)
		li If you change the data, does the answer change? Why?

	p Using the Dsum( ), Daverage( ), and the Dcount( ) functions, create a report that shows :

	ol
		li Each server’s average sales for the period.
		li Each department’s average sales.
		li The number of each item sold each day.