extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(7,5,4)
	h1 Question 7.4
	h2 Pivot Table

block content
	p Using the “EPOS” file from the network and the Data, Pivot Table option to analyze firstly the number and secondly (on a separate table) the value of sales broken down by server and by sales category. You should be able to see how much food, beverage, accommodation etc was sold by each server.