extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(7,5,5)
	h1 Question 7.5
		

block content
	p Using the EPOS file, design a macro that displays a stacked bar chart explaining the spending pattern (Drink, Food, Accommodation) of your top 5 customers.