extends ../../../templates/layouts/class-main.jade

block intro
	h1 Class 5
	p The first part of the class returns to the concept of spreadsheet design, completing the cash budget question begun last week.  The importance of adequate planning is stressed, as is insuring that the resulting spreadsheet application is both as accurate as possible and works all the time.
	p The second half of the class focuses on the use of graphs within spreadsheets. Graphs can be extremely useful as a way of presenting complex data so that it can be more easily understood by the user.  Obviously different graphs can be used in different situations, so you as the designer must chose carefully to insure that the most appropriate one is used to present the data.  You should also remember to carefully label all axes, points etc so that the graph is immediately understandable to anyone unfamiliar with the data.


block exercises-links
	+exercises-buttons(5,5)

block keypoints-links
	ul.unstyled
		li: a(href="keypoints/keypoints_q_5-1.pdf", target="_blank", class="reading-label") keypoints 5.1
		li: a(href="keypoints/keypoints_q_5-2a.pdf", target="_blank", class="reading-label") keypoints 5.2a
		li: a(href="keypoints/keypoints_q_5-2b.pdf", target="_blank", class="reading-label") keypoints 5.2b
		li: a(href="keypoints/keypoints_q_5-3.pdf", target="_blank", class="reading-label") keypoints 5.3
		li: a(href="keypoints/keypoints_q_5-4.pdf", target="_blank", class="reading-label") keypoints 5.4
		li: a(href="keypoints/keypoints_q_5-5.pdf", target="_blank", class="reading-label") keypoints 5.5
