extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(5,5,1)
	h1 Question 5.1
	h2 Nationality Analysis

block content
	p
		|	Shown below is a nationality analysis of the guests who stayed in the Heather Hotel in 2014.
	table
		thead
			tr
				td 
					strong Country 
				td 
					strong Percentage
		tbody
			tr
				td French
				td 43
			tr
				td German
				td 12
			tr
				td Italian
				td 16
			tr
				td Spanish
				td 12
			tr
				td American
				td 7
			tr
				td Canadian
				td 6
			tr
				td British
				td 4

	p Draw a graph to illustrate the above nationality analysis. 

	p Which graph type illustrates the above data in the clearest fashion?  Why?

	p Include the title “Guest Profile 2014” as a heading on the graph.  