extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(5,5,4)
	h1 Question 5.4			
	h2 Break Even Analysis

block content
	p
		|	Shown below is cost and revenue data for a new catering outlet in a large factory.  A fixed sum of £3.50 is paid to eat in the restaurant.

	ul
		li Food cost is estimated to be 35% of sales
		li Other variable costs are estimated to be 10% of sales
		li The only fixed cost are rent of £3000 p.a. and insurance of £1000 p.a.

	ol
		li Initially calculate variable costs for unit sales of 0, 10,000, 20,000, 30,000 and 40,000.
		li Calculate fixed costs for each of the above sales levels.
		li Calculate total costs for each of the above sales levels.
		li Calculate sales revenue for each of the above sales levels.
		li Using a line chart, plot sales revenue and total costs so that the breakeven point can be identified.
		li Mark the break-even point (the intersection of the two lines) with an arrow.
	p Note:  You should design your spreadsheet so that the break-even point will always appear in approximately the center of the graph, irrespective of what valid data is entered by the user.

