extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(5,5,5)
	h1 Question 5.5
	h2 Sales Analysis

block content
	p
		|	Your manager has just sent you a spreadsheet containing the sales figure for every day this year (shown in online resources section above).
	p
		|	To help her understand your business, she would like you to prepare three graphs - one showing how sales are distributed by day of the week (i.e. total sales on Monday, total sales on Tuesday etc), and also how sales are distributed by month (total sales in January, total sales in February etc) and the last one comparing the first six months of the year with the second six months.

	a.button.primary.large(href="../data/data-5-5.html", target="_blank") Data for Q5.5 