# Redirect /classes/1 /not-online-yet.html
Redirect /classes/2 /not-online-yet.html
Redirect /classes/3 /not-online-yet.html
Redirect /classes/4 /not-online-yet.html
Redirect /classes/5 /not-online-yet.html
Redirect /classes/6 /not-online-yet.html
Redirect /classes/7 /not-online-yet.html
Redirect /classes/8 /not-online-yet.html
Redirect /classes/9 /not-online-yet.html
