extends ../templates/layouts/default

block intro
	h1 WELL!!! ... WE CAN'T SERVE YOU NOW ...
	h3 The page you're looking for is under construction!
	h3 Try one of these links back :
	ul
		li
			a(href="/") Home
		li
			a(href="/syllabus.html") Syllabus
		li
			a(href="/grading.html") Grading
		li
			a(href="/training.html") Training

block content