extends ../templates/layouts/default

block intro
	h1 Syllabus


block content
	section.abstract
		h3 Introduction / Abstract
		p 
			em Excel Crash Course
			|  provides an in-depth understanding of he features and functions of spreadsheet applications, together with a first hands on experience in designing spreadsheet tools to solve business problems.

		p 	Excel Crash Course is an adaptation form Prof. Peter O'connor course “End User Business Computing”.

	section.objectifs
		h3 Objectifs / Objectives
		h4 Upon completion of the course, participants will:
		ul
			li Have an in-depth understanding of the features and functions of spreadsheet applications
			li Be capable of using spreadsheets to help solve a wide variety of business problems 
			li A broad understanding of spreadsheet applications design and development
			li Enough grasp of speadsheet applications principles to teach themselves (and others) and dig all of the above in a professional environment

	section.outline
		h3 	Déroulé des séances / Outline (Course Structure)

		ol
			li 
				h4 Introduction
				ul
					li Introduction to spreadsheets - Microsoft Excel
					li Basic calculations, saving, loading and printing spreadsheets
					li Google is your friend and other self-teaching principles

				hr

			li 
				h4 Using Formulae and Basic Functions
				ul
					li Copying formulae
					li Using Absolute Cell References
					li Formatting and layout
				hr

			li 
				h4 Making Spreadsheets Work For You
				ul 
					li 	Formatting your spreadsheet, and some more advanced functions
					li 
						strong Assignment one due
				hr

			li 
				h4 An Introduction to Good Spreadsheet Design
				hr

			li 
				h4 Spreadsheet Charts and Graphs
				hr

			li 
				h4 Automating Your Spreadsheet Using Macros – An Introduction
				ul
					li Creating Macros and Buttons
				hr

			li 
				h4 Introduction to Databases in Excel
				ul
					li 	Creating and using databases within Excel.
					li 	Lookup Tables
					li 	Database functions
					li 
						strong Assignment two due
				hr

			li 
				h4 Introduction To Visual Basic For Applications
				ul
					li Creating, modifying and debugging VBA code.
				hr

			li 
				h4 Application Design Issues
				ul
					li 	Designing a User Interface.
					li 	Custom Dialog Boxes
					li 	Designing your own spreadsheet functions.
				hr

			li 
				h4 End of session in class assignment.

	section.methodology
		h3 Méthodes Pédagogiques / Technol. Methods

			p The course material will be communicated in an interactive manner, combing lectures with problems worked out jointly between the lecturer and the participants. 

			p Classes are held in a large classroom in an informal atmosphere, with students using their laptops to work on problems interactively during the class. One of the aims is to encourage discussion, interactivity and the development of creative solutions.

			p The English language version of the spreadsheet “Microsoft Excel” will be used through out this course. However, the majority of the concepts shown can equally be applied to any other spreadsheet application.

			p The course is very practical in nature, with most graded work being of a “hands-on” nature. 

			p Practical exercises (which do not count for grades) and assignments (which do!) will be assigned periodically.

			p Written quizzes will also be administered at random during the course. Because of the practical nature of the course, there will be no final written exam, but the final assessment will be administered as part of the final class session.

			h4 Emailing guidelines
			p
				em Please make sure to include your ID together with the object of your emails. Retain a copy of the email you send as you may be requested to resend them.

	
	section.e-learning
		h3 E-Learning
			p Most of the course materials will be made available on the course dedicated website (url to be communicated during first class).

			p Beside assignments submissions and personal concerned, it is mandatory to use  the class forum on Myessec for questions. This will ensure every student has an opportunity to benefit from other's questions, provide an answer, and facilitate access to them.

			p Also, several online resources will be used throughout the course. This will give students the opportunity to learn how to teach themselves. As much as what they’ll learn, the way they’ll learn it is part of the pedagogical objectives. 

			p Hence, looking for answers at a glance in their favorite search engine is part of the course.

	section.grading
		h3 Modalités d’évaluation / Evaluation and Grading
			
			h4 Quizzes
				p Several quizzes will be administered (without advanced notice) during the trimester. These may be either written or practical, and may include any material covered to date, including material covered in class, in exercises, in reading assignments and in assignments.

			h4 Assignment guidelines
				p Detailed guidelines will be provided on the handout sheet for each assignment. However, the following are some general guidelines:
				ul
					
			h4 Academic Integrity
				p All work submitted should be entirely the result of your own efforts. If you utilise external sources (such as a file from the World Wide Web or a computer magazine), then the source of this information should be clearly acknowledged. During the course, you will experience difficulties - gaps in your knowledge. This is a learning opportunity, and you should use it to enhance your skills by finding an appropriate solution. You may find this in the readings, from textbooks or on the Web. Apart from in class, where co-operation is actively encouraged, you may only get assistance form the course lecturer or from the teaching assistants. Anyone who either gives or receives unauthorised assistance in the preparation of assignments will be subject to disciplinary action.

				p If you are in any way unsure about what constitutes a breach of academic integrity, please feel free to discuss it with the course lecturer.

	section.bibliography
		h3 Bibliographie / Bibliography
		p A wide variety of textbook and periodical readings will be assigned through out the course. Web-based resources will also be utilised where appropriate. Depending on your level of confidence, you may wish to supplement these with a textbook at the appropriate level and in an appropriate language.
		p Please consult the professors for recommendations as to which texts would be suitable.
