extends ../../../templates/layouts/class-main.jade

block intro
	h1 Class 3
	p The third session continues building your knowledge of the fundamentals of Microsoft Excel, and in particular the correct use of functions.  The class starts by exploring Nested If statements, which allow you to make the spreadsheet decide between three, four or even more options.
	p The use of =Lookup ( )  will then be explored, as in certain situations this is more efficient than using = If ( ) (Note that =VLookup ( ) and =Hlookup ( ) are covered as part of class 7.
	p Lastly Excel's treatment of dates and times is explored, and some of the time / date functions are examined in detail.  By the end of the class, you should be familiar with all the basic building blocks of spreadsheets, and prepared for the consolidation exercise that will be the focus of next weeks class.
	p By the next session, you should have returned to question 2.8 and attempted it again if you did not successfully complete it, completed all the exercises shown on the left, as well as the readings handed out in class.


block exercises-links
	+exercises-buttons(3,8)

block keypoints-links
	ul.unstyled
		li: a(href="keypoints/keypoints_q_3-1.pdf", target="_blank", class="reading-label") keypoints 3.1
		li: a(href="keypoints/keypoints_q_3-2a.pdf", target="_blank", class="reading-label") keypoints 3.2
		li: a(href="keypoints/keypoints_q_3-2b.pdf", target="_blank", class="reading-label") keypoints 3.2 (Continued)
		li: a(href="keypoints/keypoints_q_3-3.pdf", target="_blank", class="reading-label") keypoints 3.3
		li: a(href="keypoints/keypoints_q_3-5.pdf", target="_blank", class="reading-label") keypoints 3.5
		li: a(href="keypoints/keypoints_q_3-6.pdf", target="_blank", class="reading-label") keypoints 3.6
		li: a(href="keypoints/keypoints_q_3-7.pdf", target="_blank", class="reading-label") keypoints 3.7
		li: a(href="keypoints/keypoints_q_3-8.pdf", target="_blank", class="reading-label") keypoints 3.8