extends ../../../templates/layouts/class-main.jade

block intro
	h1 Class 4
	p Assessment time with our first quiz session.  As normal, this will be open book, so feel free to use whatever resources you have available to you.  
	p The only limitation is that you cannot communicate with any of your colleagues in any way.  During the quiz, I would advise you to save often - every 2 to 3 minutes, as computers can crash and you might lose everything.  In such a case, while I will feel sorry for you, you cannot take the quiz again - one attempt only please.
	p Once you have finished your attempt,please emailme your file and await confirmation that i have received it, then you can go for a coffee and return at the time written on the blackboard.
	p The rest of the class will focus on the principles of good spreadsheet design.  Based on a book by John Nevison, we will explore how to design spreadsheets for use and modification by other people.  Starting by looking at the principles themselves, and then by looking at various examples, we will see how to simplify the construction of spreadsheets large and small.
	p At the end of the class this week we will start the "Cash Budget" consolidation exercise (Question 4.2).  While this appears deceptively simple, it is in fact quite complex.  You should start by draw up your plan for this question, making sure that you think through the issues so that your answer will work ALL OF THE TIME!!!!!

block exercises-links
	+exercises-buttons(4,2)

block keypoints-links
	ul.unstyled
		li: a(href="keypoints/keypoints_q_4-1-1.pdf", target="_blank", class="reading-label") keypoints 4.1.1
		li: a(href="keypoints/keypoints_q_4-1-2.pdf", target="_blank", class="reading-label") keypoints 4.1.2
		li: a(href="keypoints/keypoints_q_4-1-3.pdf", target="_blank", class="reading-label") keypoints 4.1.3
		li: a(href="keypoints/keypoints_q_4-1-456.pdf", target="_blank", class="reading-label") keypoints 4.1.4-5-6