extends ../../../templates/layouts/class-main.jade

block intro
	h1 Class 9

	p The last session continues to develop your knowledge of  VBA - Visual Basic for Applications.  The session commences with custom functions.  These allow you to create your own functions for use with an Excel spreadsheet.

	p The concept of "Object Orientation" and its corresponding emphasis on properties and events are then introduced.  The use of form controls is demonstrated so that users can incorporate different user interface components into their applications.

	p Finally participants learn how to create and user custom user forms so that they can fully automate their applications.

	p Before next week, you should have completed all the exercises shown on the right, done the readings distributed in class and worked your way through the consolidation exercise.


block exercises-links
	ul.button-group
		li: a(href="exercises/1.html", target="_blank", class="button primary") Exercise 9.1 (Functions)
		li: a(href="exercises/2.html", target="_blank", class="button primary") Exercise 9.2 (Events)
		li: a(href="exercises/3.html", target="_blank", class="button primary") Exercise 9.3 (User forms)
		li: a(href="exercises/4.html", target="_blank", class="button primary") Exercise 9.4 (Consolidation)

block keypoints-links
	ul.unstyled
		li: a(href="keypoints/keypoints_q_9-1.xls", target="_blank", class="reading-label") keypoints 9.1
		li: a(href="keypoints/keypoints_q_9-2.xls", target="_blank", class="reading-label") keypoints 9.2
		li: a(href="keypoints/keypoints_q_9-littleBlackBook.xls", target="_blank", class="reading-label") keypoints Little Black Book (finish)
		li: a(href="keypoints/keypoints_q_9-3.xls", target="_blank", class="reading-label") keypoints 9.3
		li: a(href="keypoints/keypoints_q_9-4.xls", target="_blank", class="reading-label") keypoints 9.4
		li: a(href="keypoints/keypoints_q_9-4-better.xls", target="_blank", class="reading-label") keypoints 9.4 (better)
		li: a(href="keypoints/keypoints_q_9-4-finished.xls", target="_blank", class="reading-label") keypoints 9.4 (finished)

