extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(9,4,1)
	h1 Question 9.1
	h2 Custom Functions

block content
	ol
		li Create a custom function that will accept a product's selling price and cost price, and calculate its net profit.
		li Create a function that will accept a product's selling price and cost price, and calculate its net profit percentage.
		li Create a function that will split off a person's first name from a single cell that contains their first name and their surname (Keep it simple - just one first name and one surname).
		li Create a function that will split off a person's surname from a single cell that contains their first name and their surname.
		li Create a function that will use the result of "d" above and create an email address by adding "@essec.fr" to the surname (You should then have two functions that you can nest like normal functions that would allow you to put a person's name in one cell, and then have Excel automatically generate their email address in another).
