extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(9,4,3)
	h1 Question 9.3
	h2 Userform Creation and Use

block content
	ol
		li Design a database to store deliveries in your public house. This should record the delivery date, item description, category (Booze, Soft Drinks or Tobacco) as well as the quantity delivered.
		li Design a user form to enter the data, incorporating a Combobox for the Category.
		li Obviously the OK and Cancel buttons should work!
