extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(9,4,4)
	h1 Question 9.4
	h2 Database Creation Exercises

block content
	p PART ONE
	p You wish to create a recipe costing system for your restaurant.
	ol
		li Design a suitable database to store the following information about each product :
			p Its name, unit of purchase, cost price per unit of purchase, issue unit, and its purchase unit to issue unit ratio (For example, wine might be bought by the case but issued by the bottle, so the purchase / issue ratio is 12:1).  Additionally, each product should be assigned one of four analysis categories (food, beverage, tobacco and miscellaneous).
		li Develop a macro which automatically sorts the list into alphabetical order (so that it can be used with =lookup() statements.

	p PART TWO
	p On a separate sheet, design a spreadsheet database which will record deliveries of your products.  Each record should contain the delivery date, the product name (the purchase unit and purchase cost should automatically appear) and it should allow the entry of the quantity delivered.
	ol
		li Create a macro which sorts deliveries by date.
		li Create a macro which sorts deliveries by product.
		li Create a macro which only displays deliveries of food products.

	p NOW THE DIFFICULT BIT
	ol
		li Design a custom userform that allows deliveries to be entered.
		li Use either macros or formulae to calculate the total value of deliveries of a particular food item.
		li Modify your ingredients database so that it has a new field “current stock”.  Transfer the result of your above calculation to the relevant record in that table.

	p FOR EXPERTS ONLY
	p Automate your spreadsheet so that the above procedure happens for each product in the database.
