extends ../../../templates/layouts/class-main.jade

block intro
	h1 Class 8

	p The eight session introduces VBA - Visual Basic for Applications - a full featured programming language built into Microsoft Excel and all other Microsoft Office applications.

	p This session focuses on introducing the fundamentals of creating a VBA subroutine - its structure, its basic commands, creating, editing and testing simple procedures.  Input boxes and Message Boxes  are introduced as basic ways of interacting with the user.  Branching statements are also introduced - specifically the IF THEN ELSE ENDIF loop.

	p Before next week, you should have completed all the exercises shown on the right, done the readings distributed in class and worked your way through the VBA tutorial.


block exercises-links
	+exercises-buttons(8,1)

block keypoints-links
	ul.unstyled
		li: a(href="keypoints/keypoints_q_8-1.xls", target="_blank", class="reading-label") keypoints 8.1
		li: a(href="keypoints/keypoints_q_8-2.xls", target="_blank", class="reading-label") keypoints 8.2
		li: a(href="keypoints/keypoints_q_8-3.xls", target="_blank", class="reading-label") keypoints 8.3
		li: a(href="keypoints/keypoints_q_8-4.xls", target="_blank", class="reading-label") keypoints 8.4
		li: a(href="keypoints/keypoints_q_8-5.xls", target="_blank", class="reading-label") keypoints 8.5
