extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('One', 'B', '2')

block content
	h4 Design a spreadsheet that allows you to enter the names, sexes, dates of birth and annual incomes of up to five employees.

	h4 Set up the spreadsheet so that it :

	ul
		li Calculates the number of years age difference between the oldest and the youngest employee.

		li Calculates the annual income of each employee, but rounded up to the nearest 1000. So where the income is $1800, the answer should be $2000, and where the total is $1440, it should still be $2000.

		li Indicates whether a person is active or retired. Males over 60 and females over 55 are regarded as retired, which should be indicated by writing retired next to their name.

		li Calculates the average annual income of all the people who are retired.

		li Creates a pie chart (Camembert) that shows the breakdown of monthly income between males and females (i.e. total monthly income for males as one segment, and total monthly income for y income for females as another).