extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('One', 'A', '3')


block content			
	h4 Design a spreadsheet that allows you to calculate the price to be quoted to anyone wanting to make a group booking at your hotel.

	h4 Set up the spreadsheet so that it :

	ul
		li Allows the arrival date, departure date and number of rooms required to be entered.

		li Automatically calculates the length of stay.

		li Automatically calculates the booking lead time (i.e. the difference in days between today’s date and the arrival date – this should automatically update so that when the spreadsheet is opened next week, the booking lead time will automatically recalculate).

		li Your room rate depends on the month of the booking. Bookings with an arrival date in January, February, March, April, October and November are charged a standard price of 65 Euros per room per night. In every other month except December, the rate is 70 Euros per room per night, while in December the rate is 110 Euros per room per night. Note once again that the date of check-in that determines the rate for the entire stay.

		li However you do give a discount for long stays: length of stays over 3 nights receive a discount of 2%, over 5 nights 4%, over 8 nights 6% and over 10 nights 9%.

		li Use the spreadsheet to calculate the revenue from any potential booking. Use appropriate data validation techniques to insure that this figure cannot be negative.

		li The hotel has 200 bedrooms. Show what proportion of the hotel would be filled by this particular group on a pie chart (Camembert).