extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(1,6,2)
	h1 Question 2
	p
		|	Shown below is the number of guests who stayed in the hotel on each of the nights analysed in Question 1.

block content
	table
		thead
			tr
				td Mon 
				td Tue
				td Wed
				td Thir
				td Fri
				td Sat
				td Sun
				td 
		tbody
			tr
				td Guests
				td 279
				td 262
				td 180
				td 214
				td 213
				td 99
				td 58
	ol
		li For each day of the week, calculate the average spend per guest.
		li Calculate the average spend per guest for the week as a whole.
		li If accommodation revenue was to double, what would be the effect on the average guest spend? Why?
