extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(1,6,4)
	h1 Question 1.4
	
	p Shown below is the food cost of a number of menu items.  The manager of the Ivy Restaurant wants to see what price to charge to make either a 55%, 58% or 60% gross profit.  Calculate the selling prices which would be necessary to achieve each of these profit margins.  Save the spreadsheet as Price.

block content
	table(border='0')
		tbody
			tr
				td Striploin Steak
				td 8.90
			tr
				td Lobster Thermador
				td 13.50
			tr
				td Sole Bonne Femme
				td 9.00
			tr
				td Lamb Cutlets
				td 8.75
			tr
				td Tagliatelli Carbonara
				td 6.95
