extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(1,6,5)
	h1 Question 1.5
	
	p Shown below are the dimensions of a number of conference rooms in the Heather hotel.

block content
	table(border='0')
		thead
			tr
				td
				td Width (meters)
				td Length (Meters)
		tbody
			tr
				td
					strong Grand Ballroom
				td 40
				td 80
			tr
				td
					strong Tara Room
				td 50
				td 40
			tr
				td
					strong Kells Room
				td 20
				td 40
			tr
				td
					strong Achill Room
				td 20
				td 30

	ol
		li Calculate the floor space in each of the rooms.

		li You wish to re-carpet each of the rooms.  The fabric that you have chosen costs $37 per sq metre.  Underlay costs $4 per sq. metre.  In addition, V.A.T. of 12% must be paid on both the carpet and the underlay.  Calculate the cost of carpeting each room, and the overall cost of the carpet.

		li Assuming that each guest needs a minimum of 3 sq. metres at a banquet, 2 sq. metres in a classroom and 1.5 sq. metres at a reception, calculate the capacity of each room using each of the above mentioned seating styles.

		li Save the spreadsheet as Confcost