extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(1,6,6)
	h1 Question 1.6
	
	p Shown below is a estimate of the cash inflows and outflows of the HeatherHotel for the next quarter.  Using the format shown, calculate if a bank overdraft facility will be necessary to meet the cash flow needs of the hotel over this period.  The cash balance at the beginning of the period is 1000.

block content
	table(border='0')
		thead
			tr
				td
				td January
				td February
				td March
		tbody
			tr
				td
					strong Sales
			tr
				td Accomodation
				td 18700
				td 23970
				td 24450
			
			tr
				td Food & Bev
				td 10900
				td 8340
				td 8760

			tr
				td Wages
				td 14800
				td 16155
				td 16605
			tr
				td Variable Costs
				td 3848
				td 4200
				td 4317
			tr
				td Loan Repayment
				td 
				td 15000
				td
			tr
				td Rent Due
				td 
				td
				td 1000
			tr
				td Power & Light
				td 300
				td 450
				td 1000
			tr
				td  Payment due
				td
				td 9000
				td
			tr
				td 
					strong Month End Balance
				td
				td
				td

	ol
		li Calculate the cash balance at the end of each month, and at the end of the quarter.

		li Save the spreadsheet as Cashbud.				

								


