extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('Two', 'D', '1')

block content
	ul
		li There are TWO structural problems with the database.  Correct both of these problems by making appropriate adjustments to the structure of the database (1 Mark). 

		li Create a macro that sorts the database so that the alumni who graduated most recently are shown at the top of the list, and those who graduated in previous years are shown at the bottom.  Within each class, they should be sorted alphabetically from A to Z by their surname, and if they have the same surname, by first name.  Assign this to the button marked “Sort” (1 mark). 

		li Create a macro that filters the database (in the same location) so that only the based in France are showing.  Create another that only shows those that are not based in France.  Create a third that returns the database to its original state.  Assign these to the relevant buttons (2 marks). 

		li Create a macro that copies the surname, company and country of location (and only this data) of all the alumni who are Members and who are based in the United States to the range of cells beginning at cell A350.  Assign this to the “US Members” button (2 marks). 

		li Create a macro that filters the database (in the same location) so that only alumni from classes before 1995 are shown.    Assign this to the “Very Old” button (2 marks). 

		li In cell E3, calculate the number of alumni who are members of whatever class is entered into cell E2 (2 marks).