extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('One', 'D', '3')

block content
	h4 You wish to design a system to calculate the amount to charge people who use the computer in your business centre.

	h4 This should allow the user to enter the start time and end time of each session, and should calculate the length of the session in minutes (note – minutes, NOT hours and minutes).

	ul
		li The rate charged depends on when the session starts. If it starts before 9am, the rate is Euro 5.00 per hour.  Between 9am until 12:30pm, it is Euro 7.50 per hour, between 12:30pm and 5pm it is Euro 6.00 per hour and after 5pm it is Euro 10.00 per hour.

		li For ease of posting, the charge is always rounded up to the nearest Euro.  So a charge of 3.33 Euros would be posted as Euro 4.00, as would one of 3.75 Euros.

		li A discount of 5% is given if the length of the session exceeds 2 hours.

		li For any possible session, calculate how much the guest should be charged.

		li When a discount has been applied (for exceeding 2 hours), the session’s end time should automatically be highlight in blue.

	hr
	ul
		li Dates – difference in days (1)
		li Nested If statement (2)
		li Calculation (1)
		li Roundup (1) 
		li Conditional formatting (2)
		li Discount (2)