extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('Two', 'A', '1')

block content
	ul
		li Create a macro that sorts the database so that the student with the highest final mark is shown first and the one with lowest final mark is shown last (where two students have the same grade, it should sort the database by surname). Assign this to the button marked “Sort” (1 mark)

		li Create a macro that filters the database (in the same location) so that only the French students are showing.  Create a another that only shows the non-French. Create a third that will return the database to its original state.  Assign these to the relevant buttons (3 marks)

		li Create a macro that copies the surnames, first names and the final grade (and only this data) of everyone who achieved a final grade of less than 60 to the range of cells beginning at cell a30.  Assign this to the “Failed” button (2 marks)

		li Create a macro that filters the database (in the same location) so that only students born in January are shown. Assign this to the “January” button (2 marks)

		li Calculate the average final grade of both the men and (separately) the women (1 mark).