extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(6,3,1)
	h1 Question 6.1
	h2 Simple Macro Exercises

block content
	ol
		li Design a macro that turn off the row/column headings and the gridlines on your spreadsheet.
		li Design a macro that turns on the row/column headings and the gridlines on your sheet.  What happens if you run this macro when the row / column headings are already turned on?
		li Design a macro that sets the print area to the range A1 to C20, sets the page orientation to landscape, centers the printout vertically and horizontally, turns on the row / column headings on the printout and print previews the printout.
		li Use the VBA editor to edit this macro so that the print area is the range A1 to A10.
		li Design a macro that writes the words “Cash Budget” in cell C1.
		li Design another macro that opens a new worksheet, writes “Designed by” in cell A2, and your name in cell B2. The macro should also increase the font size of your name by to 20 point, bold and italicize it and change its colour to red.
		li Design a third macro that writes your name in whatever cell you happen to play the macro in, and writes your student number directly below your name. Your name should be coloured red and your student number blue.  (Note this is different to a macro that always writes your name in the same cell!).
		li Design a macro that finds the average of the five cells located directly above the cell in which you play it. (Be careful not to play this macro in row 1 to 5 as it will either not work or it will cause your spreadsheet to generate an unreliable result. Why???.
		li Design a macro that will set the print area to whatever area you have highlighted, sets the page orientation to landscape, centers the printout vertically and horizontally, turns on the row / column headings on the printout and print previews your report.
