extends ../../../../templates/layouts/exercise

block intro
	+class-exercises(6,3,3)
	h1 Question 6.3
	h2 Creating buttons

block content
	p Using the macros in the previous question, and any others that are necessary, create buttons to do the following (Note - the button that you should use is the one on the "Forms" toolbar, NOT the one on the "VBA" toolbar).

	ol
		li Move to the initial data area
		li Move to report area
		li Prints the report
		li Saves the changes
		li Quits
		li Changes the fixed costs up and down.

	p Place each of the buttons on an appropriate place on the spreadsheet.