extends ../../../../templates/layouts/exercise

block intro
	.container
		.row: .columns.medium-8.medium-offset-2
			h1 Question 5.5 Data

block content
	.container
		.row: .columns.medium-8.medium-offset-2
			table
				thead
					tr
						td Date
						td Sales
				tbody
					tr
						td 01/01/2006
						td 4134
					tr
						td 02/01/2006
						td 112
					tr
						td 03/01/2006
						td 6556
					tr
						td 04/01/2006
						td 5884
					tr
						td 05/01/2006
						td 1379
					tr
						td 06/01/2006
						td 4807
					tr
						td 07/01/2006
						td 3441
					tr
						td 08/01/2006
						td 8905
					tr
						td 09/01/2006
						td 7507
					tr
						td 10/01/2006
						td 4325
					tr
						td 11/01/2006
						td 7350
					tr
						td 12/01/2006
						td 9337
					tr
						td 13/01/2006
						td 2853
					tr
						td 14/01/2006
						td 3557
					tr
						td 15/01/2006
						td 1852
					tr
						td 16/01/2006
						td 5869
					tr
						td 17/01/2006
						td 3546
					tr
						td 18/01/2006
						td 4699
					tr
						td 19/01/2006
						td 9391
					tr
						td 20/01/2006
						td 8931
					tr
						td 21/01/2006
						td 2129
					tr
						td 22/01/2006
						td 2101
					tr
						td 23/01/2006
						td 5826
					tr
						td 24/01/2006
						td 5621
					tr
						td 25/01/2006
						td 2920
					tr
						td 26/01/2006
						td 7402
					tr
						td 27/01/2006
						td 8779
					tr
						td 28/01/2006
						td 8074
					tr
						td 29/01/2006
						td 8112
					tr
						td 30/01/2006
						td 5957
					tr
						td 31/01/2006
						td 3890
					tr
						td 01/02/2006
						td 686
					tr
						td 02/02/2006
						td 2711
					tr
						td 03/02/2006
						td 6697
					tr
						td 04/02/2006
						td 7135
					tr
						td 05/02/2006
						td 6709
					tr
						td 06/02/2006
						td 8036
					tr
						td 07/02/2006
						td 1568
					tr
						td 08/02/2006
						td 2832
					tr
						td 09/02/2006
						td 3364
					tr
						td 10/02/2006
						td 2736
					tr
						td 11/02/2006
						td 1740
					tr
						td 12/02/2006
						td 6688
					tr
						td 13/02/2006
						td 4438
					tr
						td 14/02/2006
						td 852
					tr
						td 15/02/2006
						td 7335
					tr
						td 16/02/2006
						td 1982
					tr
						td 17/02/2006
						td 7226
					tr
						td 18/02/2006
						td 433
					tr
						td 19/02/2006
						td 668
					tr
						td 20/02/2006
						td 3515
					tr
						td 21/02/2006
						td 2563
					tr
						td 22/02/2006
						td 8815
					tr
						td 23/02/2006
						td 6725
					tr
						td 24/02/2006
						td 7579
					tr
						td 25/02/2006
						td 1925
					tr
						td 26/02/2006
						td 1953
					tr
						td 27/02/2006
						td 5827
					tr
						td 28/02/2006
						td 1619
					tr
						td 01/03/2006
						td 939
					tr
						td 02/03/2006
						td 4290
					tr
						td 03/03/2006
						td 3171
					tr
						td 04/03/2006
						td 7084
					tr
						td 05/03/2006
						td 2176
					tr
						td 06/03/2006
						td 8429
					tr
						td 07/03/2006
						td 2749
					tr
						td 08/03/2006
						td 7530
					tr
						td 09/03/2006
						td 4173
					tr
						td 10/03/2006
						td 9334
					tr
						td 11/03/2006
						td 9574
					tr
						td 12/03/2006
						td 288
					tr
						td 13/03/2006
						td 4783
					tr
						td 14/03/2006
						td 7063
					tr
						td 15/03/2006
						td 4120
					tr
						td 16/03/2006
						td 9099
					tr
						td 17/03/2006
						td 4410
					tr
						td 18/03/2006
						td 1912
					tr
						td 19/03/2006
						td 7645
					tr
						td 20/03/2006
						td 9134
					tr
						td 21/03/2006
						td 3141
					tr
						td 22/03/2006
						td 844
					tr
						td 23/03/2006
						td 8579
					tr
						td 24/03/2006
						td 8114
					tr
						td 25/03/2006
						td 3633
					tr
						td 26/03/2006
						td 6538
					tr
						td 27/03/2006
						td 8407
					tr
						td 28/03/2006
						td 8158
					tr
						td 29/03/2006
						td 5675
					tr
						td 30/03/2006
						td 2198
					tr
						td 31/03/2006
						td 34
					tr
						td 01/04/2006
						td 1590
					tr
						td 02/04/2006
						td 2320
					tr
						td 03/04/2006
						td 3523
					tr
						td 04/04/2006
						td 4220
					tr
						td 05/04/2006
						td 5982
					tr
						td 06/04/2006
						td 3464
					tr
						td 07/04/2006
						td 9850
					tr
						td 08/04/2006
						td 6156
					tr
						td 09/04/2006
						td 3239
					tr
						td 10/04/2006
						td 7532
					tr
						td 11/04/2006
						td 2841
					tr
						td 12/04/2006
						td 9510
					tr
						td 13/04/2006
						td 1807
					tr
						td 14/04/2006
						td 1008
					tr
						td 15/04/2006
						td 6291
					tr
						td 16/04/2006
						td 417
					tr
						td 17/04/2006
						td 4782
					tr
						td 18/04/2006
						td 2191
					tr
						td 19/04/2006
						td 7881
					tr
						td 20/04/2006
						td 7011
					tr
						td 21/04/2006
						td 6759
					tr
						td 22/04/2006
						td 2668
					tr
						td 23/04/2006
						td 3316
					tr
						td 24/04/2006
						td 7797
					tr
						td 25/04/2006
						td 8882
					tr
						td 26/04/2006
						td 6264
					tr
						td 27/04/2006
						td 2475
					tr
						td 28/04/2006
						td 2593
					tr
						td 29/04/2006
						td 7085
					tr
						td 30/04/2006
						td 9077
					tr
						td 01/05/2006
						td 6918
					tr
						td 02/05/2006
						td 6770
					tr
						td 03/05/2006
						td 2827
					tr
						td 04/05/2006
						td 5098
					tr
						td 05/05/2006
						td 2918
					tr
						td 06/05/2006
						td 4295
					tr
						td 07/05/2006
						td 8941
					tr
						td 08/05/2006
						td 8703
					tr
						td 09/05/2006
						td 1255
					tr
						td 10/05/2006
						td 867
					tr
						td 11/05/2006
						td 5534
					tr
						td 12/05/2006
						td 2642
					tr
						td 13/05/2006
						td 953
					tr
						td 14/05/2006
						td 7782
					tr
						td 15/05/2006
						td 1035
					tr
						td 16/05/2006
						td 1978
					tr
						td 17/05/2006
						td 2893
					tr
						td 18/05/2006
						td 7106
					tr
						td 19/05/2006
						td 3455
					tr
						td 20/05/2006
						td 1919
					tr
						td 21/05/2006
						td 1979
					tr
						td 22/05/2006
						td 7366
					tr
						td 23/05/2006
						td 6971
					tr
						td 24/05/2006
						td 3367
					tr
						td 25/05/2006
						td 2424
					tr
						td 26/05/2006
						td 8710
					tr
						td 27/05/2006
						td 8847
					tr
						td 28/05/2006
						td 5860
					tr
						td 29/05/2006
						td 1673
					tr
						td 30/05/2006
						td 2430
					tr
						td 31/05/2006
						td 609
					tr
						td 01/06/2006
						td 6074
					tr
						td 02/06/2006
						td 637
					tr
						td 03/06/2006
						td 3141
					tr
						td 04/06/2006
						td 8067
					tr
						td 05/06/2006
						td 2568
					tr
						td 06/06/2006
						td 9717
					tr
						td 07/06/2006
						td 1383
					tr
						td 08/06/2006
						td 8571
					tr
						td 09/06/2006
						td 7062
					tr
						td 10/06/2006
						td 925
					tr
						td 11/06/2006
						td 7797
					tr
						td 12/06/2006
						td 3771
					tr
						td 13/06/2006
						td 5960
					tr
						td 14/06/2006
						td 5433
					tr
						td 15/06/2006
						td 8758
					tr
						td 16/06/2006
						td 6111
					tr
						td 17/06/2006
						td 5393
					tr
						td 18/06/2006
						td 3964
					tr
						td 19/06/2006
						td 9376
					tr
						td 20/06/2006
						td 8248
					tr
						td 21/06/2006
						td 2646
					tr
						td 22/06/2006
						td 3625
					tr
						td 23/06/2006
						td 2337
					tr
						td 24/06/2006
						td 267
					tr
						td 25/06/2006
						td 7046
					tr
						td 26/06/2006
						td 8189
					tr
						td 27/06/2006
						td 5290
					tr
						td 28/06/2006
						td 7759
					tr
						td 29/06/2006
						td 4617
					tr
						td 30/06/2006
						td 1434
					tr
						td 01/07/2006
						td 2557
					tr
						td 02/07/2006
						td 7123
					tr
						td 03/07/2006
						td 4395
					tr
						td 04/07/2006
						td 2490
					tr
						td 05/07/2006
						td 3408
					tr
						td 06/07/2006
						td 1376
					tr
						td 07/07/2006
						td 4053
					tr
						td 08/07/2006
						td 5818
					tr
						td 09/07/2006
						td 9614
					tr
						td 10/07/2006
						td 6795
					tr
						td 11/07/2006
						td 3243
					tr
						td 12/07/2006
						td 226
					tr
						td 13/07/2006
						td 8488
					tr
						td 14/07/2006
						td 1407
					tr
						td 15/07/2006
						td 8984
					tr
						td 16/07/2006
						td 5434
					tr
						td 17/07/2006
						td 5676
					tr
						td 18/07/2006
						td 306
					tr
						td 19/07/2006
						td 9019
					tr
						td 20/07/2006
						td 9968
					tr
						td 21/07/2006
						td 5929
					tr
						td 22/07/2006
						td 4945
					tr
						td 23/07/2006
						td 2973
					tr
						td 24/07/2006
						td 2226
					tr
						td 25/07/2006
						td 9848
					tr
						td 26/07/2006
						td 8234
					tr
						td 27/07/2006
						td 8590
					tr
						td 28/07/2006
						td 2939
					tr
						td 29/07/2006
						td 6768
					tr
						td 30/07/2006
						td 4731
					tr
						td 31/07/2006
						td 9809
					tr
						td 01/08/2006
						td 6221
					tr
						td 02/08/2006
						td 4989
					tr
						td 03/08/2006
						td 5217
					tr
						td 04/08/2006
						td 9768
					tr
						td 05/08/2006
						td 1320
					tr
						td 06/08/2006
						td 3386
					tr
						td 07/08/2006
						td 4583
					tr
						td 08/08/2006
						td 3079
					tr
						td 09/08/2006
						td 7474
					tr
						td 10/08/2006
						td 872
					tr
						td 11/08/2006
						td 2144
					tr
						td 12/08/2006
						td 4215
					tr
						td 13/08/2006
						td 8929
					tr
						td 14/08/2006
						td 8633
					tr
						td 15/08/2006
						td 947
					tr
						td 16/08/2006
						td 3326
					tr
						td 17/08/2006
						td 8374
					tr
						td 18/08/2006
						td 8356
					tr
						td 19/08/2006
						td 7624
					tr
						td 20/08/2006
						td 5478
					tr
						td 21/08/2006
						td 6870
					tr
						td 22/08/2006
						td 7922
					tr
						td 23/08/2006
						td 8331
					tr
						td 24/08/2006
						td 1485
					tr
						td 25/08/2006
						td 6703
					tr
						td 26/08/2006
						td 8387
					tr
						td 27/08/2006
						td 2924
					tr
						td 28/08/2006
						td 272
					tr
						td 29/08/2006
						td 8871
					tr
						td 30/08/2006
						td 5015
					tr
						td 31/08/2006
						td 6682
					tr
						td 01/09/2006
						td 3649
					tr
						td 02/09/2006
						td 3698
					tr
						td 03/09/2006
						td 6546
					tr
						td 04/09/2006
						td 814
					tr
						td 05/09/2006
						td 6314
					tr
						td 06/09/2006
						td 487
					tr
						td 07/09/2006
						td 3034
					tr
						td 08/09/2006
						td 7441
					tr
						td 09/09/2006
						td 5807
					tr
						td 10/09/2006
						td 5828
					tr
						td 11/09/2006
						td 5391
					tr
						td 12/09/2006
						td 1456
					tr
						td 13/09/2006
						td 4587
					tr
						td 14/09/2006
						td 7007
					tr
						td 15/09/2006
						td 3092
					tr
						td 16/09/2006
						td 6307
					tr
						td 17/09/2006
						td 3376
					tr
						td 18/09/2006
						td 373
					tr
						td 19/09/2006
						td 7178
					tr
						td 20/09/2006
						td 2792
					tr
						td 21/09/2006
						td 4727
					tr
						td 22/09/2006
						td 5136
					tr
						td 23/09/2006
						td 1080
					tr
						td 24/09/2006
						td 3805
					tr
						td 25/09/2006
						td 7996
					tr
						td 26/09/2006
						td 4977
					tr
						td 27/09/2006
						td 9981
					tr
						td 28/09/2006
						td 1968
					tr
						td 29/09/2006
						td 2019
					tr
						td 30/09/2006
						td 8487
					tr
						td 01/10/2006
						td 2772
					tr
						td 02/10/2006
						td 157
					tr
						td 03/10/2006
						td 4087
					tr
						td 04/10/2006
						td 1026
					tr
						td 05/10/2006
						td 6110
					tr
						td 06/10/2006
						td 288
					tr
						td 07/10/2006
						td 7144
					tr
						td 08/10/2006
						td 8328
					tr
						td 09/10/2006
						td 8916
					tr
						td 10/10/2006
						td 9623
					tr
						td 11/10/2006
						td 9032
					tr
						td 12/10/2006
						td 9674
					tr
						td 13/10/2006
						td 8258
					tr
						td 14/10/2006
						td 2303
					tr
						td 15/10/2006
						td 3492
					tr
						td 16/10/2006
						td 4827
					tr
						td 17/10/2006
						td 2699
					tr
						td 18/10/2006
						td 2537
					tr
						td 19/10/2006
						td 4403
					tr
						td 20/10/2006
						td 8090
					tr
						td 21/10/2006
						td 7089
					tr
						td 22/10/2006
						td 1342