extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('Two', 'C', '2')

block content
	ul

		li Design a macro that sorts the database so that the products with the highest TOTAL value (i.e. the unit price per Kilo multiplier by the quantity in stock) are shown first.  If two products have the same figure (highly unlikely!), then they should be sorted by category in ascending order. Assign this to the button marked “Sort”. (2 marks) 

		li Design a macro that filters the list in place so that only Vegetables that need to be reordered are shown.  Design a second macro that shows the fruits that need to be reordered.  Assign these macros to the relevant buttons. (2 marks) 

		li Design a macro that copies the name, current stock level and reorder level of all Fruits to the range beginning at A30.  Assign this to the Fruit button. (2 marks) 

		li Create a macro that filters the list in place so that any product that has either a stock level of greater than 100, a reorder level of more than 100 or total value of more than 200 is displayed.  (Note:  To NOT be displayed, the product must not comply with all three conditions above.  If it complies with even one, then it should be included in the answer). Assign this to the “High Value” button (2 marks) 

		li In cells J3, calculate the percentage of Fruits that need to be reordered. In cell J4 calculate the percentage of Non-Fruit products that need to be reordered. (2 marks)