extends ../templates/layouts/default

block intro
	h1 OOUUPS ... WE CAN'T SERVE YOU (error 404)
	h3 Sorry, but the page you're looking for isn't there!
	h3 Try one of these links :
	ul
		li
			a(href="/") Home
block content