extends ../templates/layouts/default

block intro
	h1 Welcome to Jade Factory

block content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos totam in asperiores eveniet neque a sapiente expedita nobis, necessitatibus accusantium tempora? Totam repellendus vitae nemo ducimus id! Dolorum labore, cupiditate.

	- var projectNumber = 1
	ul
		while projectNumber < 3
			li
				a(href='/projects/' + projectNumber + '/index.html')='Project ' + projectNumber++