extends ../../../templates/layouts/reveal.jade

block content
	section
		h1 Test
	section
		section
			h1 Slide 1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, sapiente id, eaque quibusdam dignissimos quae rerum iusto esse beatae amet non a ad culpa nostrum fugiat, et soluta nobis. Perspiciatis!
		section
			h2 Cool :)