extends ../../../../templates/layouts/exercise

block intro
	h1 Question 8
	h2 VISUAL BASIC FOR APPLICATIONS – Excel Exercises

block content
	ol
		li li Write a subroutine that asks the user for his name and then writes the answer in cell A1 and then formats it so that it is bold.
		li Write a subroutine that asks the user for a food cost and then a gross profit percentage, and then outputs the answer
			ol
				li In cell A10
				li In a message box
		li Write a subroutine that finds the square root of a number.  Use an IF branching statement to insure that the number is positive.
		li Repeat the above exercise using On Error to check for errors.  What is the difference between using an IF and using On Error.  Test your theory out by running and testing the subroutine.
		li Change your subroutine for question 8.2 to insure that both the food cost and the gross profit percentage are positive.  If they are not, alert the user with an appropriate message box and quit the program.  If there is any other problem, the subroutine should alert the user with the following error message – “The computer is not working again!!”
		li Write a subroutine that converts a figure entered by a user in an input box from degrees Celsius to degrees Fahrenheit.
