extends ../../../../templates/layouts/quiz

block intro
	+quiz-intro('Two', 'B', '2')

block content
	ul
		li There are TWO structural problems with the database.  Correct both of these problems by making appropriate adjustments to the structure of the database (1 Mark)

		li Create a macro that sorts the database so that the movies produced most recently are shown at the top of the list, and the older ones are shown at the bottom.  Where two movies have the same year of production, they should be sorted alphabetically from A to Z within each year.  Assign this to the button marked “Sort” (1 mark)

		li Create a macro that filters the database (in the same location) so that only the movies currently in the store (Status is “In”) are showing.  Create another that only shows those that are out.  Create a third that returns the database to its original state.  Assign these to the relevant buttons (2 marks)

		li Create a macro that copies the movie number, title and the date last rented (and only this data) of all the Comedy movies with a status of “In” to the range of cells beginning at cell a30.  Assign this to the “Comedy Available” button (2 marks)

		li Create a macro that filters the database (in the same location) so that only movies purchased before 1/1/90 are shown.    Assign this to the “Very Old” button (2 marks)

		li In cells beginning at K3, calculate the total value (i.e. the sum of the unit cost price) of the movies in each one of the named categories (2 mark).