extends ../../../templates/layouts/class-main.jade

block intro
	h1 Class 2
	p The second session is focuses on developing your growing knowledge of Excel.  It will introduce the concept of absolute vs. relative cell references, will highlight the role of formatting and will introduce spreadsheet functions.  
	p By the next session, you should have completed all the exercises shown on the left, as well as the readings handed out in class.

	h5 A useful resource.
	p 
		em PC Magazine recently published this useful guide to some advanced Excel functions.  Although you do not need to know all of them now, we will use most of them before the end of the course so its worth a look.


block exercises-links
	+exercises-buttons(2,8)

block keypoints-links
	ul.unstyled
		li: a(href="keypoints/keypoints_q_2-1.pdf", target="_blank", class="reading-label") keypoints 2.1
		li: a(href="keypoints/keypoints_q_2-2.pdf", target="_blank", class="reading-label") keypoints 2.2
		li: a(href="keypoints/keypoints_q_2-3.pdf", target="_blank", class="reading-label") keypoints 2.3
		li: a(href="keypoints/keypoints_q_2-4a.pdf", target="_blank", class="reading-label") keypoints 2.4 A
		li: a(href="keypoints/keypoints_q_2-4b.pdf", target="_blank", class="reading-label") keypoints 2.4 B (highlight)
		li: a(href="keypoints/keypoints_q_2-5a.pdf", target="_blank", class="reading-label") keypoints 2.5 A (One way)			
		li: a(href="keypoints/keypoints_q_2-5b.pdf", target="_blank", class="reading-label") keypoints 2.5 B (Another way)
		li: a(href="keypoints/keypoints_q_2-6.pdf", target="_blank", class="reading-label") keypoints 2.6
		li: a(href="keypoints/keypoints_q_2-7.pdf", target="_blank", class="reading-label") keypoints 2.7		
		li: a(href="keypoints/keypoints_q_2-8.pdf", target="_blank", class="reading-label") keypoints 2.8